<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn mb-4">
    <div class="col-3 col-sm-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <a [href]="artista.external_urls.spotify" class="link-success"target="_blank">Ir a la pagina del artista</a>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-outline-success" [routerLink]="['home']">Regresar</button>
    </div>
</div>

<div *ngIf="!loading"  class="row">
    <div class="col table-responsive">
        <!-- table-sm table-hover  -->
        <table class="table table-hover " >
            <thead class=" text-white">
              
              <tr id="CabezeraP"> 
                <th class="text-center" scope="col">Foto </th>
                <th class="text-center" scope="col">Album</th>
                <th class="text-center" scope="col">Canción</th>
                <th class="text-center" scope="col">Vista previa</th>
              </tr>
            </thead>
            <tbody id="insertardP">
                 <tr class=" text-white" *ngFor="let item of topTrack" >
                       <td class=" text-center">
                        <img [src]="item.album.images | noimage" class="img-thumb " [alt]="item.album.id">
                       </td>
                       <td class=" text-center">
                           {{item.album.name}}
                       </td>
                       <td class=" text-center">{{item.name}}</td>
                       <td class=" text-center">
                           <!-- <audio [src]="item.preview_url" controls ></audio> -->
                           <iframe [src]="item.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                       </td>
                  </tr>
            </tbody>
          </table>

    </div>
</div>